---
permalink: "feed.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en-GB">
  <title>Chayce Properties Blog</title>
  <subtitle>Downsizing and later-life moving advice for the UK</subtitle>
  <link href="https://chayceproperties.com/feed.xml" rel="self" type="application/atom+xml"/>
  <link href="https://chayceproperties.com/blog/" rel="alternate" type="text/html"/>
  <id>https://chayceproperties.com/blog/</id>
  <updated>{{ (collections.blog | first).data.dateModified | default((collections.blog | first).date) | isoDate }}</updated>
  <author><name>Chayce Properties</name><uri>https://chayceproperties.com/</uri></author>
{%- for post in collections.blog %}
  <entry>
    <title>{{ post.data.title | escape }}</title>
    <link href="https://chayceproperties.com{{ post.url }}" rel="alternate" type="text/html"/>
    <id>https://chayceproperties.com{{ post.url }}</id>
    <published>{{ post.date | isoDate }}</published>
    <updated>{{ (post.data.dateModified or post.date) | isoDate }}</updated>
    <summary>{{ post.data.description | escape }}</summary>
  </entry>
{%- endfor %}
</feed>
