---
permalink: "sitemap.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://chayceproperties.com/blog/</loc>
    <lastmod>{{ collections.blog | latestModified }}</lastmod>
  </url>
{%- for page in collections.all %}
{%- set lastmod = page.data.modified or page.data.dateModified %}
  <url>
    <loc>https://chayceproperties.com{{ page.url }}</loc>
{%- if lastmod %}
    <lastmod>{{ lastmod | isoDate }}</lastmod>
{%- endif %}
  </url>
{%- endfor %}
</urlset>
