---
permalink: "sitemap.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://chayceproperties.com/blog/</loc>
    <lastmod>{{ (collections.blog | last).date | isoDate }}</lastmod>
  </url>
{%- for page in collections.all %}
  <url>
    <loc>https://chayceproperties.com{{ page.url }}</loc>
    <lastmod>{{ page.date | isoDate }}</lastmod>
  </url>
{%- endfor %}
</urlset>
